body {
  margin: 0;
  font-family: arial;
}
header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #0080ff;
}
.container {
  margin: 10px 0;
  display: flex;
  justify-content: center;
}
.projects-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border: 1px solid #000;
  padding: 8px;
  width: 150px;
}
.projects-list a {
  padding: 4px;
}
.context {
  display: flex;
  justify-content: center;
  width: 60%;
}
.project {
  text-align: center;
  height: 300px;
  border: 1px solid #2e2e2e;
  width: 50%;
  margin: 0 2px;
}
