body {
  width: 100%;
  margin: 0;
  background-color: #2e2e2e;
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1c1c1c;
  padding: 12px;
  width: 100%;
}
header a {
  display: inline-block;
  margin: 6px 0;
  padding: 8px 14px;
  border: 1px solid #2e9afe;
  color: #fff;
  text-decoration: none;
}
#text-logo {
  margin: 0;
  font-size: 36px;
  text-align: center;
  font-family: arial;
  color: #0040ff;
  text-shadow: 0px 0px 5px white;
}
#preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
}
.wrap-preview-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 20px 0;
}
/*tmp*/
#preview img {
  width: 300px;
  height: 200px;
  border-radius: 5px;
  box-shadow: 0px 0px 2px 2px #2e9afe;
}
footer {
  padding: 12px 4px;
  text-align: center;
  color: #fff;
}
#created-in {
  display: flex;
  justify-content: space-around;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
}
.boximg {
  height: 200px;
  margin: 0 20px;
  transition: 3s;
}
.imgScale {
  position: fixed;
  top: 20px;
}
