#dis-input {
  border: 1px solid #2e2e2e;
  text-align: center;
  padding: 6px 18px;
  height: 18px;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}
#layoutlovercase {
  display: flex;
  flex-direction: column;
}
.keyrow {
  display: flex;
  justify-content: center;
  margin: 5px 0;
}

.keyrow button {
  width: 40px;
  height: 40px;
  margin: 3px 5px;
  border-radius: 0;
}
.keyrow button:hover {
  background-color: aqua;
}
#clear {
  width: 50px;
}
#space {
  width: 150px;
}
#backspace {
  width: 80px;
}
